/* machines.css */

.machines-container {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
}

/* Style for the table headers */
.table-header {
  color: white;
}

/* Style for the table cells */
.table-cell {
  color: black;
}

/* Style for the pagination */
.machines-pagination {
  color: black;
  background-color: white;
}

.text-field {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.text-field-container {
  margin-bottom: 20px;
}

.add-button {
  position: absolute;
  top: 20px;
  right: 20px;
  float: right;
  font-size: 0.875rem;
}
