* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: aliceblue;
  transition: 0.5s;
}

.container {
  display: flex;
  width: auto;
}
.menuContainer {
  width: 250px;
  padding: 5px 20px;
  border-right: 2px solid rgb(167, 166, 166);
}
.contentContainer {
  padding: 5px 20px;
  width: 100%;
}
.main.dark {
  background-color: #222;
}
