.home {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, 50px);
  grid-auto-flow: dense;
  background-color: #20232A;
  color: #F7F7F7;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  padding: 50px;

}

.box {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  /* background-color: rgba(173, 216, 230, 0.521); */
  transition: border-color 0.3s;

  &:hover {
    border-color: royalblue;
  }
}

.box1 {
  grid-column: span 1;
  grid-row: span 3;
  box-shadow: 0px 6px 30px blue;
  /* Shadow effect */
}

.box4 {
  grid-column: span 1;
  grid-row: span 4;
  box-shadow: 0px 6px 30px blue;
}

.box7 {
  grid-column: span 2;
  grid-row: span 2;
  box-shadow: 0px 6px 30px blue;
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
  }

  .box7 {
    grid-column: span 1;
    grid-row: span 2;
  }

  .box9 {
    grid-column: span 1;
    grid-row: span 4;
  }
}