.breakdown-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: black;
  background-color: white;
}

.breakdown-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.breakdown-table th,
.breakdown-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.breakdown-table th {
  background-color: white;
  text-align: left;
}

.breakdown-table th,
.breakdown-table td {
  width: calc(100% / 9);
}

/* Add gaps between columns */
.breakdown-table th:not(:last-child),
.breakdown-table td:not(:last-child) {
  margin-right: 10px;
}
.b-2 {
  float: right;
}
