/* edit.css */

.edit-container {
  margin: 20px auto; /* Set top and bottom margin to 20px and horizontally center the container */
  padding: 15px;
  max-width: 400px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-container form {
  font-family: Arial, Helvetica, sans-serif;
}

.edit-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.edit-container input {
  padding: 10px;
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
  font-size: 14px; /* Adjust the font size */
}

.edit-container input[type="submit"] {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
}

.edit-container input[type="submit"]:hover {
  background-color: #218838;
}

.edit-container .muted-button {
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
}

.edit-container .muted-button:hover {
  background-color: #5a6268;
}
